let mainColor = #5c7577;

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

* {
    margin: 0;
    padding: 0;
    font-family: Product Sans;
}

* {
    box-sizing: border-box;
  }

html, body {
    width: 100%;
    height: 100%;
    background-color: #5c7577;
}

#wrapper {
    width: 80%;
    margin-left: 175px;
    margin-right: 10%;
    transition: 0.5s;
    position: absolute;
}

 

.group-el > img{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;    
}

#client-header {
    border-radius: 10px;
    padding: 8px;
    margin: 10px;    
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #32494b;
}

#client-header:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#client-groups-nav {
    padding-top: 50px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    background-color: #0a2123;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    z-index: 1;
    opacity: 99%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;    
}

#client-picture-container{
    flex: 0.75;
    display: none;
    align-items: center;
    justify-content: center;
}

#client-photo > img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;    
}

#client-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#groups-container {
    padding: 10px;
    flex: 3;
    background-color: #32494b;
    display: none;
    flex-direction: column;
}

#nav-button-container {
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    display: block;
    justify-content: flex-end;
}

#client-dates {
    padding: 8px;
    margin: 10px;    
    color: white;
    
}

#client-wishlist {
    padding: 8px;
    margin: 10px;    
    color: white; 
}

#client-photo {
    flex: 1;
}

#client-name {
    font-size: 3em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-group {
    display: flex;
    flex: 1;
}

.group-el {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-date {
    padding-left: 8px;
    margin-bottom: 8px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.client-date:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.date-name {
    flex: 1;
    display: flex;
    justify-content: start;
}

.date-date {
    flex: 1;
}

.wishlist-item {
    padding-left: 8px;    
    height: 75px;
    font-size: 2em; 
    margin-bottom: 8px;
    border-radius: 10px;
    background-color: #32494b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}

.item-name {
    flex: 1;
}

.expand-item {
    margin-right: 8px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.active, .wishlist-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #0a2123;
    transition: 0.3s;
  }

.item-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 8px;
    margin-bottom: 8px;
    display: none;
    overflow: hidden;
    flex-direction: column;    
    background-color: #32494b;
    
    transition: 0.5s;
}

.item-description {
    display: flex;
    flex-direction: column;
}

.item-desc-elements {
    display: flex;
}

.item-picture {
    border-radius: 10px;
    max-width: 350px;
    flex: 350px;
    height: auto;
}

.item-desc-text {
    border-radius: 10px;
    font-size: 1.5em;
    background-color: #0a2123;
    flex: 3;
}

.item-price {
    font-size: 1.5em;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.edit-remove-item-container {
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.edit-icon-container {
    flex: 1;
}

#edit-icon:hover {
    cursor: pointer;
    color: #0a2123;
}

#remove-icon:hover{
    cursor: pointer;
    color: #0a2123;
}

.remove-icon-container {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.add-element {
    display: flex;
    justify-content: flex-end;
    
}


.add-container {
    border-radius: 50%;
    background-color: #5c7577;
    display: flex;
    height: 50px;
    width: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
}

.add-container:hover {
    background-color: #0a2123;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#headerBar {
    margin: 0px;
    padding: 10px;
    background: #0a2123;
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#headerBar a {
    color: white;
}
