@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

:root {
    --main-color: #264653;
    --secondary-color: #00afb9;
    --accent-color: #0a2123;
}

* {
    margin: 0;
    padding: 0;
    font-family: Product Sans;
}

* {
    box-sizing: border-box;
  }

html, body {
    width: 100%;
    height: 100%;
    

}

/* width */
::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--accent-color);
    border-radius: 10px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

::-webkit-scrollbar-corner {
    background: var(--secondary-color);
}

#wrapper {
    top: 50px;
    left: 60px;
    width: 95%;
    transition: 0.5s;
    position: absolute;
}

 

.group-el > img{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
    transition: 0.3s;    
}

.group-el > img:hover{
    border: 3px solid var(--secondary-color);
    cursor: pointer;   
}

#clients-by-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.client-list-el > img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    transition: 0.3s;    
}

.client-list-el > img:hover{
    border: 3px solid var(--secondary-color);
    cursor: pointer;     
}

.client-list-el {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#client-header {
    border-radius: 10px;
    padding: 8px;
    margin: 10px;    
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: var(--main-color);
}

#client-header:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#client-groups-nav {
    padding-top: 50px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    background-color: var(--accent-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    z-index: 1;
    opacity: 99%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;    
}

#client-picture-container{
    flex: 0.75;
    display: none;
    align-items: center;
    justify-content: center;
}

#client-photo > img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    transition: 0.3s;    
}

#client-photo > img:hover{
    border: 5px solid var(--secondary-color);
    cursor: pointer;   
}

#client-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#groups-container {
    padding: 10px;
    flex: 3;
    background-color: var(--main-color);
    display: none;
    flex-direction: column;
}

#nav-button-container {
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
}

#client-dates {
    width: 500px;
    padding: 8px;
    margin: 10px;    
    color: white;    
}

#client-wishlist {
    padding: 8px;
    margin: 10px;    
    color: white; 
}


#client-name {
    font-size: 3em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-group {
    display: flex;
    flex: 1;
}

.group-el {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-date {
    padding-left: 8px;
    margin-bottom: 8px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
}

.client-date:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.date-edit {
    margin-right: 8px;
    flex: 1;
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.3s;
}

.client-date:hover .date-edit {
    display: flex;
    opacity: 100%;
}

.item-desc-elements:hover .date-edit {
    display: flex;
    opacity: 100%;
}

.client-group:hover .date-edit {
    display: flex;
    opacity: 100%;
}

.date-name {
    width: 350px;
    display: flex;
    justify-content: start;
}

.date-date {
    width: 90px;
}



.wishlist-item {
    padding-left: 8px;    
    height: 75px;
    font-size: 1.5em; 
    margin-bottom: 8px;
    border-radius: 10px;
    background-color: var(--main-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}

.wishlist-item:active{
    padding-left: 8px;    
    height: 75px;
    font-size: 1.5em;
    background-color: var(--main-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}

.item-name {
    flex: 9;
}

.expand-item {
    margin-right: 8px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.active, .wishlist-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: var(--accent-color);
    transition: 0.3s;
  }

.item-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 8px;
    display: none;
    overflow: hidden;
    flex-direction: column;    
    background-color: var(--main-color);
    transition: 0.3s;
}

.item-description {
    display: flex;
    flex-direction: column;
}

.item-desc-elements {
    display: flex;
    flex-flow: row wrap;
}

.item-picture {
    border-radius: 10px;
    max-width: 350px;
    flex: 350px;
    height: auto;
}

.item-desc-text {
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
    background-color: var(--accent-color);
    flex: 3;
}

.item-price {
    font-size: 1.5em;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.edit-remove-item-container {
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.edit-icon-container {
    flex: 1;
}

#edit-icon:hover {
    cursor: pointer;
    color: var(--accent-color);
}

#remove-icon:hover{
    cursor: pointer;
    color: var(--accent-color);
}

.remove-icon-container {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.add-element {
    display: flex;
    justify-content: flex-end;
    
}


.add-container {
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    height: 50px;
    width: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
}

.add-container:hover {
    background-color: var(--accent-color);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#headerBar {
    margin: 0px;
    padding: 10px;
    background: var(--accent-color);
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#headerBar a {
    color: white;
}





@media only screen and (max-width: 500px) {
    #client-dates {
        width: 75%;
        padding: 8px;
        margin: 10px;    
        color: white;    
    }

    .client-date {
        display: flex;
        flex-flow: row wrap;
        height: auto;
    }
  }
